:root {
  --sapin: #497c29;
  --orange: #e75113;
  --brown: #542c08;
  --purple: #622181;
  --sand: #957755;
  --gray: #5f6062;
  --blue: #009e8f;
  --white: #ffffff;
  --black: #000000;
}

/*Début Loader*/
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, var(--white) 50%, var(--sapin) 100%);
  animation: spin 1s linear infinite;
}

.inner-circle {
  width: 90%;
  height: 90%;
  background-color: var(--white);
  border-radius: 50%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/*Fin Loader*/
